extends layouts/layout
include mixins/mixin

block content 
    nav
        ul 
            li 
                a(href="upload") Upload
            li 
                a(href="/search") Search
    each movie in movies
        +mixinMovie(movie)
    else 
        li Sorry. No movies found.