extends layouts/layout
include mixins/mixin

block content 
    form(method="GET") 
        input(name="keyword" placeholder="Search by title" type="text" required)
        input(type="submit" value="Search")
    each movie in movies
        +mixinMovie(movie)
    else 
        span No movies found